## Core latex/pdflatex auxiliary files:
doc/worksheets/*.aux
doc/worksheets/*.lof
doc/worksheets/*.log
doc/worksheets/*.lot
doc/worksheets/*.fls
doc/worksheets/*.out
doc/worksheets/*.toc
doc/worksheets/*.tdo
doc/worksheets/*.fmt
doc/worksheets/*.bib
doc/worksheets/*.pdf

doc/report/*.aux
doc/report/*.lof
doc/report/*.log
doc/report/*.lot
doc/report/*.fls
doc/report/*.out
doc/report/*.toc
doc/report/*.tdo
doc/report/*.fmt
doc/report/*.pdf
src/report/master.pdf
doc/worksheets/master.synctex.gz
