## Core latex/pdflatex auxiliary files:
doc/worksheets/*.aux
doc/worksheets/*.lof
doc/worksheets/*.log
doc/worksheets/*.lot
doc/worksheets/*.fls
doc/worksheets/*.out
doc/worksheets/*.toc
doc/worksheets/*.tdo
doc/worksheets/*.fmt
doc/worksheets/*.bib
doc/worksheets/*.pdf
doc/worksheets/master.synctex.gz
doc/worksheets/master-blx.bib
doc/worksheets/*.bbl
doc/worksheets/*.blg

doc/report/*.aux
doc/report/*.lof
doc/report/*.log
doc/report/*.lot
doc/report/*.fls
doc/report/*.out
doc/report/*.toc
doc/report/*.tdo
doc/report/*.fmt
doc/report/*.pdf
doc/report/*.thm
doc/report/*.run.xml
doc/report/master.synctex.gz
doc/report/master-blx.bib
doc/report/*.acn
doc/report/*.glsdefs
doc/report/*.ist
doc/report/*.bbl
doc/report/*.blg
doc/report/*.acr
doc/report/*.alg

src/matlab/3D_system_simulation/slprj/*

doc/presentation/*.aux
doc/presentation/*.lof
doc/presentation/*.log
doc/presentation/*.lot
doc/presentation/*.fls
doc/presentation/*.out
doc/presentation/*.toc
doc/presentation/*.tdo
doc/presentation/*.fmt
doc/presentation/*.pdf
doc/presentation/master.synctex.gz